<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="needs-validation"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">title</label>
                <input type="text" name="campground[title]" class="form-control" value="<%= campground.title %>"
                    required>
            </div>
            <div class=" mb-3">
                <label for="loaction" class="form-label">location</label>
                <input type="text" name="campground[location]" class="form-control" value="<%= campground.location %>"
                    required>
            </div>


            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" name="campground[price]"
                    aria-label="Amount (to the nearest dollar)" value="<%= campground.price %>" required>
                <span class=" input-group-text">.00</span>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="campground[description]" class="form-control"
                    required><%= campground.description %></textarea>
            </div>

            <div class="mb-2">
                <label for="image" class="form-label">add images</label>
            </div>

            <div class="input-group mb-4">
                <input type="file" class="form-control" id="image" aria-describedby="image" aria-label="Upload"
                    name="image" multiple>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>

                <div class="form-check-inline mb-2">
                    <img src="<%= img.thumbnail %>" class="img-thumbnail">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename %>">
                    <label for="image-<%=i%>"> delete?</label>
                    <br>
                </div>
                <% }) %>
            </div>

            <div class=" mb-3"><button class="btn btn-info">Update</button></div>
            <div class="mb-3"><a href="/campgrounds/<%= campground._id %> ">Back</a></div>

        </form>
    </div>
</div>